<h1>Dashboard</h1>
<div class="cards">
    <div class="card">
        <div class="card-icon follow">
            <span class="fa fa-users"></span>
        </div>
    <div class="card-info">
       <h2>{{statadmin.nbrclient}}</h2>
       <small>Total Clients</small>
    </div>
   <div class="card-images">
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
   </div>
    </div>
    <div class="card">
        <div class="card-icon mod">
            <span class="fa fa-users"></span>
        </div>
    <div class="card-info">
       <h2>{{statadmin.nbrowners }}</h2>
       <small>Total Owner</small>
    </div>
   <div class="card-images">
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
   </div>
    </div>
    <div class="card">
        <div class="card-icon comment">
            <span class="fa fa-money"><i class="fa fa-usd" aria-hidden="true"></i></span>
        </div>
    <div class="card-info">
        <h2 [innerHTML]="statadmin.todaysmoney"></h2>
       <small>Today's money</small>
    </div>
    <div class="card-images">
        <div ><img [src]="imgprofil"></div>
        <div ><img [src]="imgprofil"></div>
        <div ><img [src]="imgprofil"></div>
        <div ><img [src]="imgprofil"></div>
        <div ><img [src]="imgprofil"></div>
       </div>
    </div>
    <div class="card">
        <div class="card-icon likes">
            <span class="fa fa-user"></span>
        </div>
    <div class="card-info">
       <h2>{{statadmin.nbrstation}}</h2>
       <small>Total Station</small>
    </div>
   <div class="card-images">
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
   </div>
   </div>   
  </div>