<section>
    <div class="cover">
     <img [src]="image">
  
    </div>
     <div class="content">
      <div class="logo"><img [src]="image"></div>
      <div class="formBx">
        <h2>Admin Space </h2>
        <form>
          <div class="inputBx">
            <span>Username</span>
            <input type="text" name="">
          </div>
          <div class="inputBx">
            <span>Password</span>
            <input type="password" name="">
          </div>
          <div class="remember">
          <label><input type="checkbox" name="">Remember me</label>
          </div>
          <div class="inputBx">
            
            <input type="submit" [routerLink]=""  value="LogIn" name="" > 
          </div>

        </form>
  
       
        
      </div>
     </div>
     
  
  </section>
