.form-group{
    width: 30%;
    margin-left: 10%;
}
.btn{
    background-color: #a0dd91;
    width: 10%;
    margin-left: 50%;
    margin-top: 20px;
    border-radius: 30px;
}
.return{
    margin-top: 70px;
    }
    a{
        color:  rgba(65.66, 187.93, 35.10, 0.50);
    }