<h1>Send claim</h1>
<div class="mb-3" style="width: 50%;margin-left: 20%;">
    <label for="exampleFormControlInput1" class="form-label">subject</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="subject">
  </div>
  <div class="mb-3" style="width: 50%;margin-left: 20%;">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-outline-warning" style="border-radius: 20px;margin-left: 64%;">send</button>