<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
         <img [src]="image" style="width:200px;height: 50px;">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
           
                <button type="button" class="btn btn-warning" routerLink="/signin">signIn</button>
                <button type="button" class="btn btn-success" routerLink="/SinUp">SignUP</button>
              </div>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
      </div>
      <div id="map"></div>

      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company,CHargeMe</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" >
      <li class="ms-3"><a class="text-body-secondary" href="#"><img [src]="facebook"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><img [src]="instagram"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><img [src]="twitter"></a></li>
    </ul>
  </footer>
 
